<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">New Payment</h3>
        </div>
        <div class="panel-body">
          <div *ngIf="!payStatus">
            <form>
              <div class="form-group">
                <label for="from">From:</label>
                <input id="from" type="text" name="from" class="form-control" disabled value="{{newTransaction?.from?.accountNr}} [... CHF]" />
              </div>
              <div class="form-group">
                <label for="from">To:</label>
                <input id="to" required pattern=".{2,}" placeholder="Target Account Number" type="text" name="to" class="form-control"/>
                <div>Please specify the target account number.</div>
              </div>
              <div class="form-group">
                <label for="from">Amount [CHF]:</label>
                <input id="amount" [(ngModel)]="newTransaction.amount" required min="0" step="1" placeholder="Amount in CHF" type="number" name="amount" class="form-control" #amount="ngModel"/>
                <div [hidden]="amount.valid">Please specify the amount.</div>
              </div>
              <button (click)="pay($event)" type="submit" class="btn btn-primary">Pay</button>
            </form>
          </div>
          <div *ngIf="payStatus">
            <p>
              Transaction to {{newTransaction?.target?.accountNr}} succeeded!<br />
              New balance XXX CHF
            </p>
            <a (click)="startOver($event)" class="btn btn-primary">Start Over</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Latest Transactions</h3>
        </div>
        <div class="panel-body">
          <wed-transactions-list></wed-transactions-list>
          <a routerLink="/dashboard/transactions" class="btn btn-primary">All Transactions</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->

