<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">New Payment</h3>
        </div>
        <div class="panel-body">
          <div *ngIf="!submitted">
            <form (ngSubmit)="addTransaction(payForm); payForm.reset()" #payForm="ngForm">
              <div class="form-group">
                <label for="from">From:</label>
                <input id="from" type="text" name="from" class="form-control" disabled
                       value="{{account?.accountNr}} [{{account?.amount | currency:'CHF':true}}]" />
              </div>
              <div class="form-group">
                <label for="from">To:</label>
                <input id="to" placeholder="Target Account Number" type="text" name="to" class="form-control"
                       required pattern=".{2,}" [(ngModel)]="target" #to="ngModel" (keyup)="getAccount()"/>
                <div [hidden]="to.valid">Please specify the target account number.</div>
                <div [hidden]="!to.valid || (toAccount && toAccount.accountNr)">
                  Unknown account number specified.
                </div>
                <div [hidden]="!(toAccount && toAccount.accountNr)">
                  {{toAccount?.owner?.firstname}} {{toAccount?.owner?.lastname}}
                </div>

              </div>
              <div class="form-group">
                <label for="from">Amount [CHF]:</label>
                <input id="amount" placeholder="Amount in CHF" type="number" name="amount" class="form-control"
                       required min="0.05" step="0.05" [(ngModel)]="amount" #am="ngModel"/>
                <div [hidden]="am.valid && amount >= 0.05">Please specify the amount.</div>
              </div>
              <button type="submit" class="btn btn-primary"
                      [disabled]="!(payForm.valid && toAccount && toAccount.accountNr === target) || !(amount >= 0.05)">
                Pay
              </button>
            </form>
          </div>
          <div *ngIf="submitted">
            <p>
              Transaction to {{newTransaction?.target}} succeeded!<br />
              New balance {{newTransaction?.total | currency:'CHF':true}}
            </p>
            <a (click)="startOver()" class="btn btn-primary">Start Over</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Latest Transactions</h3>
        </div>
        <div class="panel-body">
          <wed-transactions-list [transactions]="transactions" [showDate]="false"></wed-transactions-list>
          <a routerLink="/dashboard/transactions" class="btn btn-primary">All Transactions</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->

