<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th *ngIf="showDate">Date</th>
      <th>Source</th>
      <th>Target</th>
      <th>Amount [CHF]</th>
      <th>Balance [CHF]</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td *ngIf="showDate">{{transaction.date}}</td>
      <td>{{transaction.from}}</td>
      <td>{{transaction.target}}</td>
      <td>{{transaction.amount | currency:"CHF"}}</td>
      <td>{{transaction.total | currency:"CHF"}}</td>
    </tr>
  </tbody>
</table>
