<!-- Page Content -->
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">All Transactions</h1>
    </div>
    <div class="panel-body">
      <h3>Filter</h3>
      <form >
        <div class="form-group col-sm-4">
          <label for="year">Select a year</label>
          <select id="year" name="year" class="selectpicker form-control">
            <option>2018</option>
          </select>
        </div>
        <div class="form-group col-sm-8">
          <label for="month">Select a month</label>
          <select id="month" name="month" class="selectpicker form-control">
            <option>Januar</option>
          </select>
        </div>
      </form>
      <wed-transactions-list></wed-transactions-list>
    </div>
  </div>
</div>
<!-- /.container -->

