<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th *ngIf="showDate">Date</th>
      <th>Source</th>
      <th>Target</th>
      <th class="currency">Amount [CHF]</th>
      <th class="currency">Balance [CHF]</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td *ngIf="showDate">{{transaction.date | date:'d.M.y'}}</td>
      <td>{{transaction.from}}</td>
      <td>{{transaction.target}}</td>
      <td class="currency"
          [class.alert-success]="transaction.amount > 0"
          [class.alert-danger]="transaction.amount < 0">
        {{transaction.amount | number:"1.2-2"}}</td>
      <td class="currency">{{transaction.total | number:"1.2-2"}}</td>
    </tr>
  </tbody>
</table>
